Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config*
depcomp
install-sh
libtool
ltmain.sh
m4
missing
src/Makefile
src/Makefile.in
src/RONN
src/RONN-RONN.o
src/RONN-callBBF.o
stamp-h1
src/.deps
